# JWT AUTHENTICATION

JWT_VERIFICATION_TOKEN_SECRET=default_key
JWT_VERIFICATION_TOKEN_EXPIRATION_TIME=1d

# DATABASE VARIABLES ENVIRONMENT

DB_NAME= // apps name
DB_HOST= // localhost
DB_PORT= // ports number
DB_USERNAME= // db user
DB_PASSWORD= // db password