# REDIS | BULLMQ VARIABLES

REDIS_PORT=portnumber
REDIS_HOST=localhost

# GOOGLE CREDENTIALS

EMAIL_USER=google_email
EMAIL_PASSWORD=google_password

# JWT AUTHENTICATION

JWT_VERIFICATION_TOKEN_SECRET=default_key
JWT_VERIFICATION_TOKEN_EXPIRATION_TIME=1d

# DATABASE VARIABLES ENVIRONMENT

DB_NAME=apps_name
DB_HOST=localhost
DB_PORT=ports_number
DB_USERNAME=db_user
DB_PASSWORD=db_password